/* Required for full background image */

body{
  font-family: 'Raleway', sans-serif;

}
  .btn .fa {
    margin-left: 3px;
  }
.btn-left{
  border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
color: #3f9733;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
padding: 8px 15px;
}
.btn-left:focus,.btn-right:focus{

color: #fff;
background-color: #26c21a;
}
.btn-right{
  border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
color: #3f9733;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
padding: 8px 15px;

}
  .top-nav-collapse {
    background-color: #424f95 !important;
  }

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}


@media (min-width:1300.1px) {

}

@media (min-width: 991.1px) and (max-width:1300px) {

}

@media (min-width:768.1px) and (max-width:991px) {
  .socmed {
      display: flex;
      justify-content: center;
  }
  .section-tutorial {
    padding: 5% 5%!important;
}
}
@media (min-width:576.1px) and (max-width:768px) {
  .socmed {
      display: flex;
      justify-content: center;
  }
}

@media (max-width:576px) {
.btn-difinex{
  left: -5px;
}
.section-choose{
  padding-top: 10%;
  padding-bottom: 10%
}
.section-tutorial{
  padding-top: 10%!important;
  padding-bottom: 10%!important;
}
.socmed {
    display: flex;
    justify-content: center;
}
.section-tutorial{
  padding: 5% 5%!important;
  background-color: #efefef;
}
}

.btn-white {
  color: black !important;
}
h1{
  font-weight: 500;
}
h6 {
  line-height: 1.7;
}
.md-form .form-control{
  color: #f5f5f5
}
.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

/* TEXT COLOR */


/* SELECT */
select.custom-select {
    -moz-appearance: none;
    -webkit-appearance: none!important;
    appearance: none;
    text-indent: .01px;
    text-overflow: "";
    height: 30px;
    min-height: 28px;
    width: 100px;
    background: url('../img/png/Dropdown.png')!important;
    background-position: 90% 50%!important;
    background-size: 10px!important;
    background-repeat: no-repeat!important;
    background-color: #fff!important;
    cursor: pointer;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    padding: 3px 5px;
        color: #3d992e;
}
.row-header .card-body{
  background-color: #38942c;
  padding-bottom: 0;
}
.card-cascade{
  opacity: 0.9;
}
.btn-difinex {
    background-color: #0dc000!important;
    color: #fff!important;
    border-radius: 3px;
    position: relative;
    padding: 7px 30px!important;
    top:50%;
}
.bg-green{
  background-color: #3d9334;
}
.caret-green{
  padding: 0;
  margin-top: -5px;
}
.md-form input[type=date]:focus:not([readonly]),
.md-form input[type=datetime-local]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]),
.md-form input[type=number]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:focus:not([readonly]),
.md-form input[type=tel]:focus:not([readonly]),
.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=time]:focus:not([readonly]),
.md-form input[type=url]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
	-webkit-box-shadow: 0 1px 0 0 #4285f4;
	box-shadow: 0 1px 0 0 #6aaf4f;
	border-bottom: 1px solid #6aaf4f;
}
.text-darkgreen{
  color: #35842c;
}
.text-lightgreen{
  color: #79c12e;
}
.text-sell{
  color: #3cae2f;
}
.panel-choose {
	background-color: #469340;
	height: 100%;
	padding: 10px 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 14px 3px #00000038;
  border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.section-choose .view{
    box-shadow: 0px 0px 10px 3px #00000021;
    border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;}
.panel-choose img {
	max-height: 50px
}
.panel-choose h6 {
	font-size: 14px;
}
/* SECTION TUTORIAL */

.section-tutorial{
  padding: 5% 10%;
  background-color: #efefef;
}
.card .card-body .card-text {
    color: #969696;
    font-size: 13px;
    font-weight: 400;
}
.card-deck .card{
  border-radius: 15px;
}
.btn-tutorial {
    background-color: #209300!important;
    color: #fff!important;
    border-radius: 9px;
}
/* FOOTER */
footer .container-fluid{
  background-image: url('../img/png/bgfooter.png');
  background-repeat: no-repeat;
  background-position: bottom;
background-size: 100%
}
.logo-footer{
  width: 250px;
  margin-bottom: 10px;
}
.socmed{
  display: flex;
}
.socmed img{
  max-width: 30px;
  margin-right: 5px;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: #3b8234;
    color: rgba(255,255,255,.6);
}
footer h6{
  font-weight: 600
}
